<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
	<id>ETERNOS_ID</id>
	<version>1.0</version>
	<name>Eternos</name>
	<description>Ficha de DeD 5ª modificada para Eternos RPG</description>
	<author>Lucas Paraiso Pereira</author>
	<site>eternos.vercel.app</site>
	<contact>lucas1001lucas11@gmail.com</contact>
</module>
